<mt-4>
    <h3 class="mt-4">Danh sách nhân viên</h3>
    {{!-- <a href="/items/trash">Thùng rác</a> --}}
    <a href="/add-data-view">Thêm nhân viên</a>
    <table class="table mt-4">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Tên nhân viên</th>
        <th scope="col">Ngày sinh</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Email</th>    
        <th scope="col">Vị trí</th>  
        <th scope="col">Ngày bắt đầu làm việc</th> 
        <th scope="col">Lương</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each result}}
        <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.full_name}}</td>
        <td>{{this.date_of_birth}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.address}}</td>
        <td>{{this.phone_number}}</td>
        <td>{{this.email}}</td>
        <td>{{this.job_title}}</td>
        <td>{{this.start_date}}</td>
        <td>{{this.salary}}</td>
        <td>
            <a href="/edit/{{this.id}}" class="btn btn-link">Sửa</a>
            <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this.id}}" data-target="#delete-item-Modal">Xóa<a>
        </td>
        </tr>
        {{else}}
        <tr>
          <td class="text-center" colspan="5">
            Chưa có nhân viên nào, hãy thêm nhân viên 
            <a href="/add-data">tại đây</a>
          </td>
        </tr>
        {{/each}}
    </tbody>
    </table>
</mt-4>



<div id="delete-item-Modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa nhân viên?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa nhân viên này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-item" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


{{! Hidden form}}
<form name="delete-item-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function(){

        var itemId;
        var deleteForm = document.forms['delete-item-form'];
        var btnDeleteItem = document.getElementById('btn-delete-item');

    $('#delete-item-Modal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
    itemId = button.data('id') // Extract info from data-* attributes
 
})
    btnDeleteItem.onclick = function(){
        deleteForm.action = '/delete-data/'+itemId+'?_method=DELETE';
        deleteForm.submit();
    }
    });

</script>